# Many To Many Relation

## Student

| id(PK) | name      |
| ------ | --------- |
| INT    | Charfeild |

## Enrolment

| id(PK) | student_id(FK-Student) | lecture_id(FK-Lecture) |
| ------ | ---------------------- | ---------------------- |
| INT    | INT                    | INT                    |

## Lecture

| id(PK) | title     |
| ------ | --------- |
| INT    | Charfeild |

In [20]:
# Student.objects.create(name='강진우')
# Student.objects.create(name='이유림')
# Student.objects.create(name='곽동령')
# Student.objects.create(name='백지원')
Student.objects.count()

4

In [21]:
# Lecture.objects.create(title='정의란 무엇인가')
# Lecture.objects.create(title='어떻게 원하는 것을 얻는가')
Lecture.objects.count()

2

In [22]:
# Enrolment.objects.create(student = Student.objects.get(name='강진우'), lecture = Lecture.objects.get(title='정의란 무엇인가'))
# Enrolment.objects.create(student = Student.objects.get(name='강진우'), lecture = Lecture.objects.get(title='어떻게 원하는 것을 얻는가'))

In [23]:
# Enrolment.objects.create(student = Student.objects.get(name='백지원'), lecture = Lecture.objects.get(title='정의란 무엇인가'))
# Enrolment.objects.create(student = Student.objects.get(name='곽동령'), lecture = Lecture.objects.get(title='어떻게 원하는 것을 얻는가'))
# Enrolment.objects.create(student = Student.objects.get(name='이유림'), lecture = Lecture.objects.get(title='어떻게 원하는 것을 얻는가'))

In [29]:
for enrol in Enrolment.objects.all():
    print(enrol.student.name,':', enrol.lecture.title)

강진우 : 정의란 무엇인가
강진우 : 어떻게 원하는 것을 얻는가
백지원 : 정의란 무엇인가
곽동령 : 어떻게 원하는 것을 얻는가
이유림 : 어떻게 원하는 것을 얻는가

In [35]:
강진우 = Student.objects.get(name='강진우')
수강신청1 = 강진우.enrolment_set.first()
수강신청2 = 강진우.enrolment_set.last()

수강신청1.lecture.title
수강신청2.lecture.title

'어떻게 원하는 것을 얻는가'

In [36]:
# 수업 여러개 듣는 사람 1명을 student에 저장합니다.
student = Student.objects.get(name='강진우')

In [39]:
# student의 수업의 제목을 출력하는 for 문을 작성해 보세요
for 수강신청 in student.enrolment_set.all():
    print(수강신청.lecture.title)

정의란 무엇인가
어떻게 원하는 것을 얻는가

In [40]:
# student의 수업들 중 제목이 n글자 넘는 수업의 제목을 출력
for 수강신청 in student.enrolment_set.all():
    if len(수강신청.lecture.title)>10:
        print(수강신청.lecture.title)

어떻게 원하는 것을 얻는가

In [64]:
# Hotel.dummy(10)
new_hotel = Hotel.objects.last()

# new_hotel.clients.add(Client.objects.last())
new_hotel.clients.add(
    Client.objects.get(id = 3),
    Client.objects.get(id = 5),
    Client.objects.get(id = 7)
)
new_hotel.clients.all().filter(name__contains='h')

In [48]:
# Client.dummy(10)
Client.objects.all().values('id','name')

<QuerySet [{'id': 1, 'name': 'Kristin Rivera'}, {'id': 2, 'name': 'Richard Hurley'}, {'id': 3, 'name': 'Billy Murphy'}, {'id': 4, 'name': 'Daniel Turner'}, {'id': 5, 'name': 'Brian Kane'}, {'id': 6, 'name': 'Erik Smith'}, {'id': 7, 'name': 'Wesley Rich'}, {'id': 8, 'name': 'Timothy Mercado'}, {'id': 9, 'name': 'Robert Donaldson'}, {'id': 10, 'name': 'Melanie Jensen'}, {'id': 11, 'name': 'Marilyn Long'}]>

In [46]:
Client.objects.last().hotel_set.count()

0

In [47]:
# Hotel.dummy(1)
# Client.dummy(1)

In [7]:
client = Client.objects.get(id=3)
client.hotels.all()

In [9]:
client = Client.objects.get(id=3)
client.hotels.add(
    Hotel.objects.get(id=2),
    Hotel.objects.get(id=4),
    Hotel.objects.get(id=6)
)
client.hotels.all().count()

5